%h3 コメント一覧
%ul.list-group
  - item.comments.older.includes(:user).each do |comment|
    %li.list-group-item
      - user = comment.user
      = link_to user.email, user_path(user)
      = l comment.created_at
      %br
      = comment.content
      %div{ id: "like-comment-form-#{comment.id}" }
        = render 'comments/likes/like', comment: comment if comment.user != current_user

